main {
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #000;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 499px;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.lists {
  padding-top: 100px;
}

.list {
  padding: 10px;
  background-color: aliceblue;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
}
